<div class="custom-container">
  <mat-card class="card profile" style="max-width: 250px; background-color: rgb(255, 255, 255)">
    <mat-card-header>
      <img
        mat-card-image
        src="https://www.attendit.net/images/easyblog_shared/July_2018/7-4-18/b2ap3_large_totw_network_profile_400.jpg"
        alt="Photo of Person"
      />
    </mat-card-header>
    <mat-card-title>Name Surname</mat-card-title>
    <mat-card-subtitle>Patient Profile</mat-card-subtitle>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis efficitur augue. Donec
        hendrerit ligula lacus, non mollis mi luctus a. Etiam nec dignissim neque, a varius est.
        Proin eu mi nisl. In quam velit, ultrices id est quis, auctor suscipit nunc. Etiam semper
        ante ipsum. Praesent velit urna, finibus at congue et, facilisis in velit. Duis sagittis
        pretium tempus. Mauris ullamcorper sem in libero gravida ornare. Sed non ex erat.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card content">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="First">
        <mat-card-content class="inside-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis efficitur augue. Donec
          hendrerit ligula lacus, non mollis mi luctus a. Etiam nec dignissim neque, a varius est.
          Proin eu mi nisl. In quam velit, ultrices id est quis, auctor suscipit nunc. Etiam semper
          ante ipsum. Praesent velit urna, finibus at congue et, facilisis in velit. Duis sagittis
          pretium tempus. Mauris ullamcorper sem in libero gravida ornare. Sed non ex erat.
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Second">
        <mat-card-content class="inside-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis efficitur augue. Donec
          hendrerit ligula lacus, non mollis mi luctus a. Etiam nec dignissim neque, a varius est.
          Proin eu mi nisl. In quam velit, ultrices id est quis, auctor suscipit nunc. Etiam semper
          ante ipsum. Praesent velit urna, finibus at congue et, facilisis in velit. Duis sagittis
          pretium tempus. Mauris ullamcorper sem in libero gravida ornare. Sed non ex erat.
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Third">
        <mat-card-content class="inside-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis efficitur augue. Donec
          hendrerit ligula lacus, non mollis mi luctus a. Etiam nec dignissim neque, a varius est.
          Proin eu mi nisl. In quam velit, ultrices id est quis, auctor suscipit nunc. Etiam semper
          ante ipsum. Praesent velit urna, finibus at congue et, facilisis in velit. Duis sagittis
          pretium tempus. Mauris ullamcorper sem in libero gravida ornare. Sed non ex erat.
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
<div class="button-label">
  <button mat-stroked-button color="primary">
    <a routerLink="" routerLinkActive="active">Back</a>
  </button>
</div>
